body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
  text-decoration:none;
}


/*Customers-module*/
body{
background-color:lightyellow;
}

#grandfather{
	width:100%;
	margin:0 auto;

}


#son{
	width:50%;
	margin:0 auto;


}

#grandson{
	width:40%;
	margin:0 auto;


}

#grandson #butt{
	width:60%;
	margin:0 auto;

}

#grandson h1{
	margin:0 auto;
	width:45%;
	padding-left:40px;
	color:grey;



}

.list{
	padding-top:10px;
	padding-bottom:10px;
	margin-left:30px;
	border:2px solid blue;
	background-color:lightblue;

}

.list li{
	font-family:arial;


}

.list:active{
background-color:cyan;
}

#butt button{
margin-left:40px;
background-color:skyblue;
border-style:outset;
border-color:blue;
text-decoration:none;
}

#butt button:active{
color:white;
}

.box{
text-decoration:none;
color:black;
}

#for{
margin-left:-40px;
margin-top:10px;
margin-bottom:10px;
}


/*Customers-module*/


/*Customers-details*/

body{
background-color:lightyellow;
}

.table2{
border:1px solid silver;
width:80%;
margin:0 auto;
}

.row1{
border:1px solid silver;
text-decoration:none;
color:green;

}

.row2{
border:1px solid silver;
font-family:arial;

}

.row1 .row2{
text-align:center;
}

.updateButton{
margin-bottom:20px;
margin-top:10px;

}

#contenedorPadre{
width:30%;
margin:0 auto;

}

.row1#animals:hover > .row2{
background-color:lightgreen;
}


label{
width:300px;
}

input{
margin-top:10px;
margin-bottom:5px;
margin-left:100px;
}

button{
width:150px;
margin-left:60px;
display:block;
}

.labels{
float:left;
clear:left;

}

.inputs{
float:right;
margin-left:-60px;
margin-top:-10px;
margin-right:110px;

}

.labels, .inputs{
height:20px;
margin-bottom:30px;
}

.title{
width:50%;
margin-left:38%;
color:green;
margin-bottom:25px;
text-decoration:underline;

}

.title h2{

}

.newPet{
width:100%;
margin:0 auto;
}

.table2 { display:table; }
.row1{ display:table-row; }
.row2 { display:table-cell; }
.row3{
width:40%;
margin:0 auto;
padding-top:10px;
letter-spacing:4px;
color:green;
text-decoration:underline;
}

#volver1{
position: absolute;
left: 100px;
top: 150px;
text-align:center;
width:170px;
background-color:tan;
padding: 5px 5px 5px 5px;
font-family:Arial;
color:lightorange;
border-radius: 15px;
}


#volver1 a{
text-decoration:none;
color:black;
}

/*Customers-details*/

/*Pet-details*/

body{
background-color:lightyellow;
}

.table2{
border:1px solid silver;
width:80%;
margin:0 auto;
}

.row1{
border:1px solid silver;
text-decoration:none;
color:green;

}

.row2{
border:1px solid silver;
font-family:arial;

}

.row1 .row2{
text-align:center;
}

.updateButton{
margin-bottom:20px;
margin-top:10px;

}

#contenedorPadre{
width:30%;
margin:0 auto;

}

.row1#animals:hover > .row2{
background-color:lightgreen;
}


label{
width:300px;
}

input{
margin-top:10px;
margin-bottom:5px;
margin-left:100px;
}

button{
width:150px;
margin-left:60px;
display:block;

}

.labels{
float:left;
clear:left;

}

.inputs{
float:right;
margin-left:-60px;
margin-top:-10px;
margin-right:110px;

}

.labels, .inputs{
height:20px;
margin-bottom:30px;
}

.title{
width:50%;
margin-left:38%;
color:green;
margin-bottom:25px;
text-decoration:underline;

}

.title h2{

}

.table2 { display:table; }
.row1{ display:table-row; }
.row2 { display:table-cell; }

#volver1{
position: absolute;
left: 100px;
top: 150px;
}

#volver2{
position: absolute;
left: 100px;
top: 200px;
}

.volver{
text-align:center;
width:170px;
background-color:tan;
padding: 5px 5px 5px 5px;
font-family:Arial;
border-radius: 15px;

}

.volver a{
text-decoration:none;
color:black;
}

/*Pet-details*/