table{
background-color: lightblue !important;
text-align:center;
}

table th{
background-color:skyblue !important;
}

table tr#rows:hover{
background-color:royalblue !important;
color:white;
cursor: pointer;
}
