<html>
<head>
</head>
<body>
<h1>Wola</h1>
<ul ng-repeat="pets in pet">
<li><input type="text" ng-model="pets.chip" ></li>
<li><input type="text" ng-model="pets.name" ></li>
<li><input type="text" ng-model="pets.date" ></li>
<li><input type="text" ng-model="pets.photo" ></li>
<li><input type="text" ng-model="pets.breed" ></li>
<li><input type="text" ng-model="pets.race" ></li>
<li><input type="text" ng-model="pets.description" ></li>
<li><input type="text" ng-model="customer._id" ></li>
</ul>
</body>
</html>