
<!--Cambio de css en directo-->

<!-- <style parse-style>.css_class {width: {{searching.length >= 23 ? "35%" : "20%"}}}</style> -->

<!--Cambio de css en directo-->


<div id="grandfather">

	<div id="son">
	
		<div id="grandson">

		<h1 class="text-center title">Clientes</h1>
		

		<div class="search css_class">
		
		<form class="form-inline" role="form">

		<input id="sea" class="form-control inputSearch col-lg-12" type="search" ng-model="searching" maxlength="10" placeholder="Buscar cliente por DNI"></input>
	
		</form>
		
		</div>

		<table class="table table-bordered">
			<tr>
				<th>DNI</th>
				
				<th>Nombre</th>
				
				<th>Apellidos</th>
				
				<th>Tel&eacute;fono</th>
				
				<th>E-mail</th>
				
				<th>Notas</th>
			</tr>
			
			
			<a ng-click="" ng-href="customers/{{row._id}}">

			
			
			<tr class="rows" ng-click="ref(row._id)" ng-repeat="row in customers">
			

			
			<td class="align-middle">{{row.dni}}</td>
			
			<td class="align-middle">{{row.firstName}}</td>
			
			<td class="align-middle">{{row.lastName}}</td>
		
			<td class="align-middle">{{row.phone}}</td>
			
			<td class="align-middle">{{row.email}}</td>
			
			<td class="align-middle">{{row.note}}</td>
			

			
			</tr>
			
			</a>
			
		</table>


		<div id="butt" class="text-center"><a ng-href="customers/new"><button class="btn btn-info padding">Nuevo cliente</button></a></div>
		
		</div>
		
	</div>
	
</div>


