

<div id="grandfather">

	<div id="son">
	
		<div id="grandson">

		<h1>Clientes</h1>

		<form class="form-inline" role="form">

			<input id="sea"  class="form-control" type="search"></input>
			
			<input type="submit" class="btn btn-default" value="Buscar"></input>

		</form>

		<table class="table table-bordered">
		
			<tr>
			
				<th>DNI</th>
				
				<th>Nombre</th>
				
				<th>Apellidos</th>
				
				<th>Tel&eacute;fono</th>
				
				<th>E-mail</th>
				
				<th>Notas</th>
				
			</tr>
			
			
			<a ng-click="" ng-href="customers/{{row._id}}">

			
			<tr id="rows" ng-click="ref()" ng-repeat="row in customers">
			

			
			<td>{{row.dni}}</td>
			
			<td>{{row.firstName}}</td>
			
			<td>{{row.lastName}}</td>
		
			<td>{{row.phone}}</td>
			
			<td>{{row.email}}</td>
			
			<td>{{row.note}}</td>
			

			
			</tr>
			
			</a>
			
		</table>


		<div id="butt"><a ng-href="customers/new"><button>Nuevo cliente</button></a></div>
		
		</div>
		
	</div>
	
</div>


